
# Exercice 1
```sql
SELECT 
  o.order_id, 
  c.customer_id
FROM 
  orders o
LEFT JOIN customers c ON o.customer_id = c.customer_id ;
```

# Exercice 2

```sql
SELECT 
  o.order_id, 
  o.customer_id
FROM 
  orders o
INNER JOIN customers c ON o.customer_id = c.customer_id ;
```

# Exercice 3
```sql
SELECT 
  o.order_id, 
  c.customer_id
FROM 
  orders o
FULL OUTER JOIN customers c ON o.customer_id = c.customer_id ;
```

# Exercice 4

```sql
SELECT 
  c1.contact_name AS Customer1, 
  c2.contact_name AS Customer2, 
  c1.city
FROM 
  customers c1
INNER JOIN customers c2 ON c1.city = c2.city AND c1.customer_id <> c2.customer_id ;
```


# Exercice 5
```sql
SELECT 
  ship_country, 
  COUNT(order_id) 
FROM 
  orders 
GROUP BY 
  ship_country;
```

# Exercice 6
```sql
SELECT 
  ship_country, 
  SUM(freight) 
FROM 
  orders 
GROUP BY 
  ship_country;
```

# Exercice 7

```sql
SELECT 
  c.company_name, 
  COUNT(o.order_id) 
FROM 
  customers c
JOIN orders o ON c.customer_id = o.customer_id
GROUP BY 
  c.company_name;
```

# Exercice 8
```sql
SELECT 
  ship_city, 
  ship_country, 
  SUM(freight) 
FROM 
  orders 
GROUP BY 
  ship_city, ship_country;
```

# Exercice 9 : HAVING avec SUM()
```sql
SELECT 
  ship_country, 
  SUM(freight) AS total_freight
FROM 
  orders 
GROUP BY 
  ship_country
HAVING 
  SUM(freight) > 1000;
```